.Card {
    text-align: left;
    border: 1px solid white;
    padding: 0.25em 0.5em;
    border-left: 5px solid white;
}
.Card a{
    text-decoration: none;
}
.Card-title{
    margin: 0.5em 0;
    font-size: 1.5rem;
    color: white;
}

.Card-description{
    margin: 0.5em 0;
    font-size: 1rem;
    color: white;
}