.Homepage {
    text-align: center;
  }
  
  .Homepage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Homepage-logo {
      animation: Homepage-logo-spin infinite 20s linear;
    }
  }
  
  .Homepage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Homepage-link {
    color: #61dafb;
  }
  
  @keyframes Homepage-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .Exchanges-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: 980px;
      margin: auto;
      gap: 3em;
  }